StockWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.stock.com/" name="StockWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.stock.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.stock.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="AuthorizationFault" nillable="true" type="tns:infoFault"/>

      <xs:element name="RegisterItem" type="tns:RegisterItem"/>

      <xs:element name="RegisterItemResponse" type="tns:RegisterItemResponse"/>

      <xs:element name="filters" type="tns:filters"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="items" type="tns:items"/>

      <xs:element name="listItems" type="tns:listItems"/>

      <xs:element name="userToken" nillable="true" type="tns:tokenUser"/>

      <xs:complexType name="listItems">
        <xs:sequence>
          <xs:element name="filters" type="tns:filters" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filters">
        <xs:sequence>
          <xs:element name="filter" type="tns:filter" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filter">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="type" type="tns:itemType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="items">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="sku" type="xs:string"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="type" type="xs:string"/>
          <xs:element name="quantity" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="RegisterItem">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tokenUser">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="expirationDate" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="RegisterItemResponse">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="infoFault">
        <xs:sequence>
          <xs:element name="errorDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="itemType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Book"/>
          <xs:enumeration value="Cellphone"/>
          <xs:enumeration value="Tablet"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="RegisterItem">
    <part name="parameters" element="tns:RegisterItem"/>
    <part name="userToken" element="tns:userToken"/>
  </message>
  <message name="RegisterItemResponse">
    <part name="result" element="tns:RegisterItemResponse"/>
  </message>
  <message name="AuthorizationException">
    <part name="fault" element="tns:AuthorizationFault"/>
  </message>
  <message name="AllItems">
    <part name="parameters" element="tns:listItems"/>
  </message>
  <message name="AllItemsResponse">
    <part name="parameters" element="tns:items"/>
  </message>
  <portType name="StockWS">
    <operation name="RegisterItem" parameterOrder="parameters userToken">
      <input wsam:Action="http://ws.stock.com/StockWS/RegisterItemRequest" message="tns:RegisterItem"/>
      <output wsam:Action="http://ws.stock.com/StockWS/RegisterItemResponse" message="tns:RegisterItemResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.stock.com/StockWS/RegisterItem/Fault/AuthorizationException"/>
    </operation>
    <operation name="AllItems">
      <input wsam:Action="http://ws.stock.com/StockWS/AllItemsRequest" message="tns:AllItems"/>
      <output wsam:Action="http://ws.stock.com/StockWS/AllItemsResponse" message="tns:AllItemsResponse"/>
    </operation>
  </portType>
  <binding name="StockWSPortBinding" type="tns:StockWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RegisterItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:RegisterItem" part="userToken" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="AllItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="StockWSService">
    <port name="StockWSPort" binding="tns:StockWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

